.head{
    color: rgb(0, 0, 0);
    background-color: rgb(252, 252, 252);
    width: 50%;
    height: 10%;
    font-size: 30px;
    position: absolute;
    text-align: center;
    top: 3%;
    left: 25%;
    font-style: oblique;
    font-family: Impact, Haettenschweiler;
    border-radius: 12px 12px 0px 0px;
}
button{
    background-color: rgba(33, 6, 48, 0.9);
    border: solid rgb(33, 6, 48);
    padding: 12px;
    position: absolute;
    top: 85%;
    left: 48%;
    color: rgb(161, 156, 156);
    text-align: center;
    width: 120px;
    border-radius: 12px;
}
div{
    width: 50%;
    height:54%;
    font-family: monospace;
    font-size: 35px;
    background-color: rgba(31, 2, 55, 0.6);
    color: rgb(255, 252, 252);
    position: absolute;
    left: 25%;
    top: 28%;
    bottom: 20%;
    padding: 45px;
    font-style:  bold oblique;
    border-radius: 0px 0px 12px 12px;
    

}
@media screen and (max-width: 400px) {
    div{
    width: 20%;
    height:70%;
    font-size: 15px;
    background-color: aqua;

}
.head{
    width: 20%;
    height:4%;
    font-size: 5px;
}
button{
    width: 69px;
    font-size: xx-small;

}

}
    



body{
    background-image:url("quot.png" );
    background-size: cover;
}
p{
    display: none;
}

